* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper-bg {
  position: absolute;
  width: 95%;
  height: 90vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
}
.container-calendar {
  position: relative;
  width: 90%;
  height: 85%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  padding: 10px 30px;
  overflow: hidden;
}

h4 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.initial-box.hidden {
  display: none;
}

.set-date {
  display: block;
  cursor: pointer;
  margin: 40px auto;
  width: 120px;
  height: 120px;
  background: linear-gradient(
    45deg,
    rgba(129, 203, 232, 1) 0%,
    rgba(241, 81, 189, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(129, 203, 232, 1) 0%,
    rgba(241, 81, 189, 1) 100%
  );
  -webkit-mask: url(calendar-icon.svg);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  animation: pulse 3s infinite linear;
}

@keyframes pulse {
  0% {
    opacity: 0.3;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.3;
    transform: scale(0.9);
  }
}

.result h1 {
  text-align: center;
  letter-spacing: 2px;
}

.setup-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 245px;
  transform: translateX(-130%);
  opacity: 0;
  transition: all 1s;
}

.slide-in {
  transform: translateX(0);
  opacity: 1;
}

.panel {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.header ul {
  display: flex;
  list-style: none;
  width: 100%;
  background-color: rgba(129, 203, 232, 0.4);
  border-radius: 10px;
}

.header ul li {
  padding: 7px;
  width: 35px;
  text-align: center;
  font-size: 0.6rem;
}

.calendar-picker {
  height: 250px;
}

.days ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.days ul li {
  display: block;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 7px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days ul li.active-day {
  border-radius: 50%;
  background-color: rgba(129, 203, 232, 0.4);
  color: rgb(241, 81, 189);
  font-weight: bold;
}

@media (min-width: 768px) {
  .wrapper-bg {
    width: 70%;
    height: 80vh;
  }
  .container-calendar {
    width: 75%;
    height: 80%;
    padding: 10px 30px;
  }

  .setup-box {
    width: 280px;
  }
  .header ul li {
    padding: 5px;
    width: 40px;
    font-size: 0.8rem;
  }

  .days ul li {
    font-size: 1rem;
    padding: 5px;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1023px) and (orientation: landscape) {
  .wrapper-bg {
    width: 60%;
    height: 95vh;
  }
  .container-calendar {
    width: 80%;
    height: 95%;
  }
  .result h1 {
    font-size: 26px;
    letter-spacing: 1px;
  }
  .setup-box {
    width: 210px;
  }
  .panel {
    margin: 0 0 15px 0;
  }
  .panel .date {
    font-size: 0.9rem;
  }

  .setup-box h4 {
    font-size: 0.8rem;
    margin-bottom: 15px;
  }
  .header ul li {
    padding: 5px;
    width: 30px;
    font-size: 0.5rem;
  }
  .calendar-picker {
    height: 210px;
  }

  .days ul li {
    font-size: 0.7rem;
    padding: 5px;
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1024px) {
  .wrapper-bg {
    width: 580px;
    height: 70vh;
  }
  .container-calendar {
    width: 65%;
    height: 80%;
  }

  .setup-box {
    width: 280px;
  }
  .header ul li {
    padding: 5px;
    width: 40px;
    font-size: 0.8rem;
  }

  .days ul li {
    font-size: 1rem;
    padding: 5px;
    width: 40px;
    height: 40px;
  }
}
